@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <div class="row">
        <div class="col">
            WEBSITE_HOSTNAME : @(Environment.GetEnvironmentVariable("WEBSITE_HOSTNAME") ?? "null")
        </div>
    </div>
    <div class="row">
        <div class="col">
            WEBSITE_INSTANCE_ID : @(Environment.GetEnvironmentVariable("WEBSITE_INSTANCE_ID") ?? "null")
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="tests" type="button" class="btn btn-primary">tests</button>
            <button id="api" type="button" class="btn btn-primary">api</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var baseUrl = "@Url.Content("~/")";

        function error() {
            console.error(response);
            alert("error");
        }

        $("#tests").click(function () {
            console.log("tests");

            $.ajax(
            {
                type: 'POST',
                dataType: 'json',
                url: baseUrl + 'Home/tests',
                success:
                    function (response) {
                        console.log(response);
                        alert(response.result);
                    },
                error: error
            });
        });

        $("#api").click(function () {
            console.log("api");

            window.open(baseUrl + 'api/User', '_blank');
        });
    });
</script>