<div class="text-center">
    <h1 class="display-4">NetFw Storage Account Web Mvc</h1>
    <div class="row">
        <div class="col">
            <p>t: @ViewBag.t</p>
        </div>
    </div>
</div>