<div class="text-center">
    <h1 class="display-4">Net Key Vault Web Mvc</h1>
    <div class="row">
        <div class="col">
            <p>SecretNameKeyVault: @ViewBag.SecretNameKeyVault</p>
            <p>SecretNameUserSecrets: @ViewBag.SecretNameUserSecrets</p>
            <p>SecretNameAppSettings: @ViewBag.SecretNameAppSettings</p>
        </div>
    </div>
</div>