@{
    ViewData["Title"] = "TestMvc Page";
}

<div class="text-center">
    <h3 class="display-4">Net Waf Web Mvc</h3>
    <div class="row">
        <div class="col">
            <span>Common Parameters Get Methods</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <button id="NoParametersGet" type="button" class="btn btn-primary">No Parameters</button>
            <button id="ParametersGet" type="button" class="btn btn-primary">Get Object</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Json Parameters Get Methods</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <button id="ParametersJsonGetSuccess" type="button" class="btn btn-success">Get Json in Object</button>
            <button id="ParametersJsonGetError" type="button" class="btn btn-danger">Get Json in Object</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Common Parameters Post Methods</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <button id="NoParametersPost" type="button" class="btn btn-primary">No Parameters </button>
            <button id="ParametersPost" type="button" class="btn btn-primary">Post Object</button>
            <button id="ParametersPostFormData" type="button" class="btn btn-primary">Post FormData</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Json Parameters Post Methods</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <button id="ParametersJsonPostSuccess" type="button" class="btn btn-success">Post Json in Object</button>
            <button id="ParametersJsonPostError" type="button" class="btn btn-danger">Post Json in Object</button>
            <button id="ParametersJsonPostFormDataSuccess" type="button" class="btn btn-success">Post Json in FormData</button>
            <button id="ParametersJsonPostFormDataError" type="button" class="btn btn-danger">Post Json in FormData</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var baseUrl = "@Url.Content("~/")";

        $("#NoParametersGet").click(function () {
            console.log("NoParametersGet");

            $.ajax(
                {
                    type: 'GET',
                    dataType: 'json',
                    url: baseUrl + 'TestMvc/NoParametersGet',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersGet").click(function () {
            console.log("ParametersGet");

            $.ajax(
                {
                    type: 'GET',
                    dataType: 'json',
                    data: { id: "123", name: "abc" },
                    url: baseUrl + 'TestMvc/ParametersGet',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersJsonGetSuccess").click(function () {
            console.log("ParametersJsonGetSuccess");

            $.ajax(
                {
                    type: 'GET',
                    dataType: 'json',
                    data: { parameters: "base64|" + btoa(JSON.stringify({ id: "123", name: "abc" })) },
                    url: baseUrl + 'TestMvc/ParametersJsonGet',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersJsonGetError").click(function () {
            console.log("ParametersJsonGetError");

            $.ajax(
                {
                    type: 'GET',
                    dataType: 'json',
                    data: { parameters: JSON.stringify({ id: "123", name: "abc" }) },
                    url: baseUrl + 'TestMvc/ParametersJsonGet',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#NoParametersPost").click(function () {
            console.log("NoParametersPost");

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'json',
                    url: baseUrl + 'TestMvc/NoParametersPost',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersPost").click(function () {
            console.log("ParametersPost");

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'json',
                    data: { id: "123", name: "abc" },
                    url: baseUrl + 'TestMvc/ParametersPost',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersPostFormData").click(function () {
            console.log("ParametersPostFormData");

            var data = new FormData();

            data.append("id", "123");
            data.append("name", "abc");

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    contentType: false,
                    processData: false,
                    url: baseUrl + 'TestMvc/ParametersPostFormData',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });
        
        $("#ParametersJsonPostSuccess").click(function () {
            console.log("ParametersJsonPostSuccess");

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'json',
                    data: { parameters: "base64|" + btoa(JSON.stringify({ id: "123", name: "abc" })) },
                    url: baseUrl + 'TestMvc/ParametersJsonPost',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersJsonPostError").click(function () {
            console.log("ParametersJsonPostError");

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'json',
                    data: { parameters: JSON.stringify({ id: "123", name: "abc" }) },
                    url: baseUrl + 'TestMvc/ParametersJsonPost',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersJsonPostFormDataSuccess").click(function () {
            console.log("ParametersJsonPostFormDataSuccess");

            var data = new FormData();

            data.append("parameters", "base64|" + btoa(JSON.stringify({ id: "123", name: "abc" })));

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    contentType: false,
                    processData: false,
                    url: baseUrl + 'TestMvc/ParametersJsonPostFormData',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });

        $("#ParametersJsonPostFormDataError").click(function () {
            console.log("ParametersJsonPostFormDataError");

            var data = new FormData();

            data.append("parameters", JSON.stringify({ id: "123", name: "abc" }));

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    contentType: false,
                    processData: false,
                    url: baseUrl + 'TestMvc/ParametersJsonPostFormData',
                    success:
                        function (response) {
                            console.log(response);
                            Swal.fire({ icon: 'success', text: response.result });
                        },
                    error: error
                });
        });
    });

    function error(response) {
        console.error(response);
        Swal.fire({ icon: 'error', text: response });
    }
</script>